<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static/styles/application.css">
        <link rel="stylesheet" type="text/css" href="static/styles/orihime-colors.css">
        <link rel="stylesheet" type="text/css" href="static/styles/add-button.css">
    </head>
    <body> 

        <div id="anki-text">
            {{ ANKI-Text }}
        </div>

        <div id="add-button">+</div>

        <script src="static/js/expand-child-words.js"></script>
        <script src="static/js/add-child-words.js"></script>
        {{ toggle-snippet }}

        </script>
    </body>
</html>
